<div fxLayout="row" fxLayoutAlign="center center">
<mat-card class="entity_card">
    <mat-card-header id="entity_header" fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-card-title>
                Regiones
            </mat-card-title>

    </mat-card-header>

    <mat-card-content>
        <mat-accordion class="example-headers-align" >

            <mat-expansion-panel *ngFor="let region of campus ">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{region.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{region.id}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                
                <!--Region properties-->
                <mat-list>
                    <mat-list-item >No. de edificios: {{region.buildings.length}}</mat-list-item>
                </mat-list>

                <mat-action-row>
                    <button mat-button color="primary" (click)="modifyRegion(region)">Modify</button>
                    <button mat-button color="warn" (click)="deleteRegion(region.id)">Delete</button>
                </mat-action-row>
            
              </mat-expansion-panel>

              <div fxLayout="row" fxLayoutAlign="end center" class="add_button_wrapper">
                <button mat-mini-fab color="primary" (click)="addRegion()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-accordion>
    </mat-card-content>

</mat-card>

</div>
